<ion-menu side="start"
          contentId="principal"
          menuId="first">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>Menu Principal</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>

        <ion-menu-toggle>
            <ion-list>
                <ion-item *ngFor="let item of componentes | async" [routerLink]="item.redirectTo">
                    <ion-icon slot="start" name="{{item.icon}}"></ion-icon>
                    <ion-label>{{item.name}}</ion-label>
                </ion-item>
            </ion-list>
        </ion-menu-toggle>

    </ion-content>
</ion-menu>
